<%= content_for :page_title, "Home" %>

<div class="text-center">
  <h1 class="display-3 ">Welcome to Bike Berlin</h1><br>
  <h3>Your source for used bikes in Berlin</h3><br>
  <%= image_tag("home_bicycle.png", class: "img-responsive") %>
</div>
