<%= content_for :page_title, "Home" %>
<div class="container text-center">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin</h2>
  <%= image_tag("home_bicycle.png", class: "img-responsive") %>
</div>
