
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td><p>Thank you for your purchase at @appname</p></td>
        </tr>
        <tr>
          <td><p>
            <strong>Product: </strong><%= @product %><br>
            <strong>Price: </strong> <%= @price %><br>
          </td></p>
        </tr>
      </tbody>
    </table>
  </body>
</html>
