.card-img-top {
  max-width: 300px;
  max-height: 200px;
  border: 2px solid black;

}

.button-size {
  width: 150px;
}

 .center-button {
  margin: auto;
  display: block;
  width: 158px;
}

.card {
  width: 300px;
  margin: auto;
}
