.card-img-top {
  width: 276px;
  height: 200px;
  border: 2px solid black;
}

.button-size {
  width: 150px;
}

 .center-button {
  margin: auto;
  display: block;
  width: 158px;
}

.card-group {
  width: 277.5px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .card-group {
    width: 555px;
  }
}

@media screen and (min-width: 992px) {
  .card-group {
    width: 832.5px;
  }
}

@media screen and (min-width: 1200px) {
  .card-group {
    width: 1110px;
  }
}
