#footer {
  background-color: #292b2c !important;
  color: white;
  padding: 1.2rem 0 0.3rem 0;
}

#carouselExampleIndicators, .carousel-item img {
  width: 376px;
  height: 300px;
}

#carouselExampleIndicators {
  margin: auto;
}
