<%= content_for :page_title, "Edit Product" %>

<h1 class="text-center display-4">Editing Product</h1>
<br>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class: "btn btn-secondary button-style btn-sm button-size" %><br>
<%= link_to 'Back', products_path, class: "btn btn-secondary button-style btn-sm button-size" %>
