<%= content_for :page_title, "Products" %>

<h1 class="text-center display-4">Products</h1>
<br>
<div class="card-group">
  <% cache(cache_key_for_products) do %>
    <%= render @products, on_products_page: true %>
  <% end %>
</div>
<%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>
<%= button_to 'Add New Product', {action: 'new'}, class: "btn btn-primary center-button", method: :get %>
<br>
