<div class="container">
  <h1>New Product</h1>
  <br>

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path, class: "btn btn-secondary button-style btn-sm button-size" %>
</div>
